body {
    margin: 0;
    background-color: #f890a1;
    background-image: url(""); 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.encabezado {
  background-image: url("https://i.pinimg.com/1200x/9d/43/de/9d43de7e6617ea55388d7e8c7ac1b4ff.jpg"); 
  background-size: cover; 
  background-position: center; 
  padding: 60px;
  color: rgb(10, 10, 10);
  text-align: center;
}
nav a {
    margin: 30px;
    color: rgb(6, 6, 6);
    text-decoration: none;
    border: #ffe4e1;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.hero {
    text-align: center;
    padding: 50px;
    background-image: url("https://i.pinimg.com/736x/95/b0/0a/95b00a4086ff6c357964cecde39ee4aa.jpg"); 
    font-family: 'Courier New', Courier, monospace;
}
.productos-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}
h2 {
   text-align: center; 
   font-family: 'Times New Roman', Times, serif;
}
.producto {
    background: rgb(245, 164, 164);
    padding: 20px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}
.producto img {
    width: 90%;
    border-radius: 10px;
}
button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}
#carrito {
    text-align: center;
    padding: 20px;
}
#lista-carrito {
    list-style: none;
    padding: 10px;
}
footer {
    background-color: #ede7ea;
    color: rgb(2, 2, 2);
    text-align: center;
    padding: 20px;
    background-image: url("https://i.pinimg.com/1200x/9d/43/de/9d43de7e6617ea55388d7e8c7ac1b4ff.jpg"); 
}
.panel-carrito {
    position: fixed;
    top: 0;
    right: -400px; /* Oculto fuera de la pantalla */
    width: 350px;
    height: 100%;
    background: white;
    transition: 0.3s; /* Efecto suave */
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    z-index: 1000;
}

.panel-carrito.abierto {
    right: 0; /* Aparece en pantalla */
}