
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(255, 254, 254);
    background-image: url("https://i.pinimg.com/736x/00/c1/b4/00c1b4349f9fe0b2d1d989ce0233612d.jpg");
}
.form-body{
    width: 400px;
    min-width: 300px;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: solid 1px rgb(17, 17, 17);
    color: rgb(10, 10, 10);
    margin: 10px;
}
.form-body-img{
    width: 50px;
    display: block;
    margin: 20px auto;
    height: 365px;
    align-items: center
}
.text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color:rgb(14, 14, 13);
    margin-bottom: 25px;
    font-family: emoji;
}
.form-body input{
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding: left 10px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(15, 15, 15);
    border-radius: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    border: top left radius 10px;
    font-size: 1rem;
    outline: none;
}
::placeholder{
    font-size: 1rem;
    color: rgb(18, 18, 19);
}
.form-body input:hover{
    transition: .5s;
    border: 1px solid rgb(11, 12, 12);
    color: rgb(5, 5, 5);
}
.form-body button{
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 40px;
    width: 78%;
    background: transparent;
    color:rgb(17, 17, 16) ;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    border: 2px solid rgb(32, 31, 31);
    transition: all .5s ease;
}
.form-body button:hover{
    color: rgb(247, 174, 243);
    border: 2px solid rgb(17, 16, 16);
    background: linear-gradient(#2c3e50,#2c3e50);
}
img{
    height: 190px;
    align-items: center;
    border-radius: 200px;
}
.oculto {
    display: none !important;
}

.pantalla {
    animation: fadeIn 0.5s;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Botón principal */
.btn-principal {
    padding: 10px 20px;
    background: pink;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
}

/* Caja */
.modal-contenido {
    background: white;
    width: 300px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    animation: aparecer 0.3s ease;
}

/* Animación */
@keyframes aparecer {
    from {opacity: 0; transform: scale(0.8);}
    to {opacity: 1; transform: scale(1);}
}

/* Cerrar */
.cerrar {
    float: right;
    font-size: 22px;
    cursor: pointer;
}

/* Inputs */
input {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 8px;
}

/* Botones */
button {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}

/* Segunda pantalla */
.pantalla2 {
    display: none;
}